@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");

@theme {
  --color-accent: #fa642c;
  --color-primary: #dedede;
  --color-paragraph: #777777;
  --color-textColor: #110a0a;
  --font-body: "Lato", sans-serif;
  --font-heading: "Libre Bodoni", serif;
}

@layer utilities{

  .heading{
    @apply text-4xl capitalize lg:text-6xl text-center mx-auto  font-heading text-textColor py-3;
  }
  .gradient{
    @apply bg-clip-text   text-transparent bg-linear-to-l/srgb from-orange-500 from-30% to-pink-500 to-70%
  }
}